{% extends 'base.html.twig' %}

{% block title %}Liste des versions{% endblock %}

{% block content %}

    <main>
        <section>
            {% for categorie in categories %}
                <article class="listeVersions">
                    <h2>{{ categorie.title }}</h2>
                    <div class="pokemon"><img src="{{ categorie.image }}" alt="{{ categorie.title }}"></div>
                </article>
            {% endfor %}
        </section>
    </main>

{% endblock %}