{% extends 'base.html.twig' %}

{% block title %}Choisie ton starter{% endblock %}

{% block content %}

    <main>
        <h2 class="choiseStarter">Choisis ton pokemon</h2>
        <section>
            {% for pokemon in pokemons %}
                <article class="listePokemon">
                    <div class="pokemon"><img src="{{ pokemon.image }}" alt="{{ pokemon.title }}"></div>
                    <h2>{{ pokemon.title }}</h2>
                    <p>{{ pokemon.content }}</p>
                </article>
            {% endfor %}
        </section>
    </main>

{% endblock %}