{% extends 'base.html.twig' %}

{% block title %}Trop jeune{% endblock %}

{% block content %}

    <main>
        <h2 class="choiseStarter">Tu n'as rien à faire là, dégages.</h2>
    </main>

{% endblock %}