<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon à la piscine</title>
    <link rel="stylesheet" href="../public/assets/style.css">
</head>
<body>
<header>
    <div id="nav">
        <div><img src="https://www.pokepedia.fr/images/e/e2/Pok%C3%A9_Ball-RS.png" alt="pokeball"></div>
        <h1>Pokemon 1er génération</h1>
        <div><img src="https://www.pokepedia.fr/images/e/e2/Pok%C3%A9_Ball-RS.png" alt="pokeball"></div>
    </div>
    <div id="smallStarter"><img src="https://www.pokemontrash.com/images/news/1534957796657.png" alt="starter"></div>
</header>

{% block content %}
{% endblock %}

<footer>
    <div><img src="https://www.pokepedia.fr/images/thumb/0/0e/Tortank-RB.png/175px-Tortank-RB.png" alt="tortank"></div>
    <div><img src="https://www.pokepedia.fr/images/thumb/e/e2/Dracaufeu-RB.png/175px-Dracaufeu-RB.png" alt="dracaufeu"></div>
    <div><img src="https://www.pokepedia.fr/images/thumb/b/b2/Florizarre-RB.png/175px-Florizarre-RB.png" alt="florizarre"></div>
</footer>